# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter checkpoints
*.ipynb_checkpoints

# Documentation build output
/docs/html/

# Generated demo files
*.html
img/__results*
img/download*
img/image*
img/minjae.jpg
